@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* navbar style */
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.navbar_liens {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* main style */
.main_image {
    width: 100%;
    text-align: center;
    
}

.main_h1 {
    text-align: left;
    font-size: 55px;
    padding: 0 50px;
}
.main_p {
    text-align: left;
    padding: 30px 50px;
}

.main_whatsapp {
    display: flex;
    align-items: flex-start;
    padding: 30px 50px;
}
/* styles services */
.services_h2 {
    font-size: 40px;
    text-align: center;
    padding: 70px;
}

.service_illustration {
    display: flex;
    justify-content: space-between ;
    padding: 5% 10%;
}

/* styles choix_entreprise */
.choix_entreprise_h2 {
    font-size: 40px;
    text-align: center;
}

.choix_entreprise_illustration {
    display: flex;
    justify-content: space-between ;
    padding: 5% 10%;
} 

/* styles a propos */
.apropos_h2 {
    text-align: center;
    margin: 20px auto;
    font-size: 40px;
}
.apropos_p {
    text-align: center;
}
/* body style */
body {
    /* width: 100%; */
    max-width: 1200px; 
    margin:0 auto;
    padding: auto 55px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family:"suse";
}